# Resend (transactional emails)
RESEND_API_KEY=""

# Analytics
VITE_UMAMI_ID=""
VITE_UMAMI_URL=""

# Notion (blog content)
NOTION_BLOG_DATASOURCE_ID=""
NOTION_DIRECTORY_DATASOURCE_ID=""
NOTION_INTEGRATION_TOKEN=""
NOTION_PEOPLE_DATASOURCE_ID=""

# API connection
API_URL="http://localhost:3001"
VITE_API_URL="http://localhost:3001"

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
