{
  "openapi": "3.1.0",
  "info": {
    "title": "Kubeasy Sync API",
    "version": "1.0.0",
    "description": "API used by CI/CD pipelines to synchronise challenges from the challenges repository. Requires a Bearer API key with admin privileges."
  },
  "servers": [
    {
      "url": "https://kubeasy.dev",
      "description": "Production"
    },
    {
      "url": "http://localhost:3024",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Sync",
      "description": "Challenge synchronisation from the challenges repository"
    }
  ],
  "paths": {
    "/api/admin/challenges/sync": {
      "post": {
        "operationId": "syncChallenges",
        "summary": "Sync all challenges from source of truth",
        "description": "Full upsert/delete sync of challenges and their objectives. Intended to be called from CI/CD after merging to the challenges repository.",
        "tags": ["Sync"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "deleted": {
                      "type": "integer"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "updated": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "deleted": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": ["created", "updated", "deleted"]
                    }
                  },
                  "required": [
                    "success",
                    "created",
                    "updated",
                    "deleted",
                    "details"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained via `kubeasy login`"
      }
    },
    "schemas": {
      "ChallengeDifficulty": {
        "description": "Challenge difficulty level",
        "type": "string",
        "enum": ["easy", "medium", "hard"]
      },
      "ObjectiveType": {
        "description": "Type of objective validation. Determines which spec fields are required.",
        "type": "string",
        "enum": ["status", "condition", "log", "event", "connectivity"]
      },
      "Objective": {
        "description": "A single objective definition as it appears in `challenge.yaml`",
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "type": {
            "type": "string",
            "enum": ["status", "condition", "log", "event", "connectivity"]
          },
          "spec": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "checks": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": ["field", "operator", "value"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["target", "checks"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "checks": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            }
                          },
                          "required": ["type", "status"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["target", "checks"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "container": {
                    "type": "string"
                  },
                  "expectedStrings": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "sinceSeconds": {
                    "type": "number"
                  }
                },
                "required": ["target", "expectedStrings"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "forbiddenReasons": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "sinceSeconds": {
                    "type": "number"
                  }
                },
                "required": ["target", "forbiddenReasons"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "sourcePod": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "targets": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "expectedStatusCode": {
                              "type": "number"
                            },
                            "timeoutSeconds": {
                              "type": "number"
                            }
                          },
                          "required": ["url", "expectedStatusCode"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["sourcePod", "targets"],
                "additionalProperties": false
              }
            ]
          }
        },
        "required": ["key", "title", "description", "order", "type", "spec"],
        "additionalProperties": false
      },
      "ObjectiveSpec": {
        "description": "Union of all possible objective spec shapes. The actual shape depends on the objective `type`.",
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "checks": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "value": {}
                      },
                      "required": ["field", "operator", "value"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["target", "checks"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "checks": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "status"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["target", "checks"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "container": {
                "type": "string"
              },
              "expectedStrings": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sinceSeconds": {
                "type": "number"
              }
            },
            "required": ["target", "expectedStrings"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "forbiddenReasons": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sinceSeconds": {
                "type": "number"
              }
            },
            "required": ["target", "forbiddenReasons"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "sourcePod": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              },
              "targets": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "expectedStatusCode": {
                          "type": "number"
                        },
                        "timeoutSeconds": {
                          "type": "number"
                        }
                      },
                      "required": ["url", "expectedStatusCode"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["sourcePod", "targets"],
            "additionalProperties": false
          }
        ]
      },
      "Target": {
        "description": "Kubernetes resource target — identifies which resources to check",
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labelSelector": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["kind"],
        "additionalProperties": false
      },
      "StatusCheck": {
        "description": "A single status field check (field/operator/value)",
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {}
        },
        "required": ["field", "operator", "value"],
        "additionalProperties": false
      },
      "StatusSpec": {
        "description": "Spec for `type: status` objectives — checks resource status fields",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "checks": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "operator": {
                      "type": "string"
                    },
                    "value": {}
                  },
                  "required": ["field", "operator", "value"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["target", "checks"],
        "additionalProperties": false
      },
      "ConditionCheck": {
        "description": "A single Kubernetes condition check (type/status pair)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": ["type", "status"],
        "additionalProperties": false
      },
      "ConditionSpec": {
        "description": "Spec for `type: condition` objectives — checks Kubernetes conditions",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "checks": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "status"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["target", "checks"],
        "additionalProperties": false
      },
      "LogSpec": {
        "description": "Spec for `type: log` objectives — searches container logs for expected strings",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "container": {
            "type": "string"
          },
          "expectedStrings": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "sinceSeconds": {
            "type": "number"
          }
        },
        "required": ["target", "expectedStrings"],
        "additionalProperties": false
      },
      "EventSpec": {
        "description": "Spec for `type: event` objectives — detects forbidden Kubernetes events",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "forbiddenReasons": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "sinceSeconds": {
            "type": "number"
          }
        },
        "required": ["target", "forbiddenReasons"],
        "additionalProperties": false
      },
      "SourcePod": {
        "description": "Source pod for connectivity checks (identified by name or label selector)",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "labelSelector": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ConnectivityCheck": {
        "description": "A single HTTP connectivity check",
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "expectedStatusCode": {
            "type": "number"
          },
          "timeoutSeconds": {
            "type": "number"
          }
        },
        "required": ["url", "expectedStatusCode"],
        "additionalProperties": false
      },
      "ConnectivitySpec": {
        "description": "Spec for `type: connectivity` objectives — tests HTTP connectivity from a pod",
        "type": "object",
        "properties": {
          "sourcePod": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "targets": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "expectedStatusCode": {
                      "type": "number"
                    },
                    "timeoutSeconds": {
                      "type": "number"
                    }
                  },
                  "required": ["url", "expectedStatusCode"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["sourcePod", "targets"],
        "additionalProperties": false
      },
      "ChallengeSyncItem": {
        "description": "A single challenge entry in a sync request, including its objectives",
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "theme": {
            "type": "string",
            "minLength": 1
          },
          "difficulty": {
            "type": "string",
            "enum": ["easy", "medium", "hard"]
          },
          "type": {
            "type": "string",
            "minLength": 1
          },
          "estimatedTime": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "initialSituation": {
            "type": "string",
            "minLength": 1
          },
          "objectives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "order": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "status",
                    "condition",
                    "log",
                    "event",
                    "connectivity"
                  ]
                },
                "spec": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "labelSelector": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": ["kind"],
                          "additionalProperties": false
                        },
                        "checks": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "string"
                                  },
                                  "operator": {
                                    "type": "string"
                                  },
                                  "value": {}
                                },
                                "required": ["field", "operator", "value"],
                                "additionalProperties": false
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": ["target", "checks"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "labelSelector": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": ["kind"],
                          "additionalProperties": false
                        },
                        "checks": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  }
                                },
                                "required": ["type", "status"],
                                "additionalProperties": false
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": ["target", "checks"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "labelSelector": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": ["kind"],
                          "additionalProperties": false
                        },
                        "container": {
                          "type": "string"
                        },
                        "expectedStrings": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "sinceSeconds": {
                          "type": "number"
                        }
                      },
                      "required": ["target", "expectedStrings"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "labelSelector": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": ["kind"],
                          "additionalProperties": false
                        },
                        "forbiddenReasons": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "sinceSeconds": {
                          "type": "number"
                        }
                      },
                      "required": ["target", "forbiddenReasons"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sourcePod": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "labelSelector": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "additionalProperties": false
                        },
                        "targets": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "expectedStatusCode": {
                                    "type": "number"
                                  },
                                  "timeoutSeconds": {
                                    "type": "number"
                                  }
                                },
                                "required": ["url", "expectedStatusCode"],
                                "additionalProperties": false
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": ["sourcePod", "targets"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "required": [
                "key",
                "title",
                "description",
                "order",
                "type",
                "spec"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "slug",
          "title",
          "description",
          "theme",
          "difficulty",
          "type",
          "estimatedTime",
          "initialSituation",
          "objectives"
        ],
        "additionalProperties": false
      },
      "SyncRequest": {
        "description": "Full sync payload — the complete list of challenges to synchronise",
        "type": "object",
        "properties": {
          "challenges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "title": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string",
                  "minLength": 1
                },
                "theme": {
                  "type": "string",
                  "minLength": 1
                },
                "difficulty": {
                  "type": "string",
                  "enum": ["easy", "medium", "hard"]
                },
                "type": {
                  "type": "string",
                  "minLength": 1
                },
                "estimatedTime": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                },
                "initialSituation": {
                  "type": "string",
                  "minLength": 1
                },
                "objectives": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "order": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "status",
                          "condition",
                          "log",
                          "event",
                          "connectivity"
                        ]
                      },
                      "spec": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "target": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "labelSelector": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              "checks": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "field": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "value": {}
                                      },
                                      "required": [
                                        "field",
                                        "operator",
                                        "value"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": ["target", "checks"],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "target": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "labelSelector": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              "checks": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "status": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["type", "status"],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": ["target", "checks"],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "target": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "labelSelector": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              "container": {
                                "type": "string"
                              },
                              "expectedStrings": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sinceSeconds": {
                                "type": "number"
                              }
                            },
                            "required": ["target", "expectedStrings"],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "target": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "labelSelector": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              "forbiddenReasons": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sinceSeconds": {
                                "type": "number"
                              }
                            },
                            "required": ["target", "forbiddenReasons"],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "sourcePod": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "labelSelector": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "targets": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "expectedStatusCode": {
                                          "type": "number"
                                        },
                                        "timeoutSeconds": {
                                          "type": "number"
                                        }
                                      },
                                      "required": ["url", "expectedStatusCode"],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": ["sourcePod", "targets"],
                            "additionalProperties": false
                          }
                        ]
                      }
                    },
                    "required": [
                      "key",
                      "title",
                      "description",
                      "order",
                      "type",
                      "spec"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "slug",
                "title",
                "description",
                "theme",
                "difficulty",
                "type",
                "estimatedTime",
                "initialSituation",
                "objectives"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": ["challenges"],
        "additionalProperties": false
      }
    }
  }
}
