{
  "openapi": "3.1.0",
  "info": {
    "title": "Kubeasy CLI API",
    "version": "1.0.0",
    "description": "API consumed by the `kubeasy` CLI. Authentication uses a Bearer API key obtained via `kubeasy login`."
  },
  "servers": [
    {
      "url": "https://kubeasy.dev",
      "description": "Production"
    },
    {
      "url": "http://localhost:3024",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "CLI authentication and session tracking"
    },
    {
      "name": "Challenges",
      "description": "Challenge management"
    },
    {
      "name": "Progress",
      "description": "User progress on challenges"
    },
    {
      "name": "Metadata",
      "description": "Static reference data (no auth)"
    }
  ],
  "paths": {
    "/api/cli/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get current user (deprecated)",
        "deprecated": true,
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["firstName", "lastName"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "loginUser",
        "summary": "Authenticate and track CLI metadata",
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliMetadata"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile with first-login flag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": ["string", "null"]
                    },
                    "firstLogin": {
                      "type": "boolean"
                    }
                  },
                  "required": ["firstName", "lastName", "firstLogin"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/track/setup": {
      "post": {
        "operationId": "trackSetup",
        "summary": "Track CLI cluster initialisation",
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliMetadata"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Setup tracked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "firstTime": {
                      "type": "boolean"
                    }
                  },
                  "required": ["success", "firstTime"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/challenges/{slug}": {
      "get": {
        "operationId": "getChallenge",
        "summary": "Get challenge details",
        "tags": ["Challenges"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pod-evicted"
            },
            "description": "Challenge slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "difficulty": {
                          "$ref": "#/components/schemas/ChallengeDifficulty"
                        },
                        "theme": {
                          "type": "string"
                        },
                        "initialSituation": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "slug",
                        "description",
                        "difficulty",
                        "theme",
                        "initialSituation"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["challenge"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/challenges/{slug}/submit": {
      "post": {
        "operationId": "submitChallenge",
        "summary": "Submit challenge validation results",
        "tags": ["Challenges"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pod-evicted"
            },
            "description": "Challenge slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All objectives passed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "objectives": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ScoredObjective"
                      }
                    }
                  },
                  "required": ["success", "objectives"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Challenge already completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Some objectives failed or missing/unknown objectives",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Some objectives did not pass",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": false
                        },
                        "objectives": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ScoredObjective"
                          }
                        },
                        "failedObjectives": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "message"]
                          }
                        }
                      },
                      "required": ["success", "objectives", "failedObjectives"]
                    },
                    {
                      "description": "Missing or unknown objectives",
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "details": {
                          "type": "string"
                        }
                      },
                      "required": ["error"],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/progress/{slug}": {
      "get": {
        "operationId": "getChallengeStatus",
        "summary": "Get challenge progress",
        "tags": ["Progress"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pod-evicted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["not_started", "in_progress", "completed"]
                    },
                    "startedAt": {
                      "type": "string",
                      "description": "ISO 8601 date string"
                    },
                    "completedAt": {
                      "type": "string",
                      "description": "ISO 8601 date string"
                    }
                  },
                  "required": ["status"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/progress/{slug}/start": {
      "post": {
        "operationId": "startChallenge",
        "summary": "Start a challenge",
        "tags": ["Progress"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pod-evicted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["in_progress", "completed"]
                    },
                    "startedAt": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["status", "startedAt"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/progress/{slug}/reset": {
      "post": {
        "operationId": "resetChallenge",
        "summary": "Reset challenge progress",
        "tags": ["Progress"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pod-evicted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Progress reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/types": {
      "get": {
        "operationId": "getTypes",
        "summary": "List challenge types",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of challenge types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "logo": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": ["slug", "name", "description", "logo"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["types"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/themes": {
      "get": {
        "operationId": "getThemes",
        "summary": "List challenge themes",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of challenge themes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "themes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "logo": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": ["slug", "name", "description", "logo"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["themes"],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained via `kubeasy login`"
      }
    },
    "schemas": {
      "ChallengeDifficulty": {
        "description": "Challenge difficulty level",
        "type": "string",
        "enum": ["easy", "medium", "hard"]
      },
      "ObjectiveType": {
        "description": "Type of objective validation. Determines which spec fields are required.",
        "type": "string",
        "enum": ["status", "condition", "log", "event", "connectivity"]
      },
      "Objective": {
        "description": "A single objective definition as it appears in `challenge.yaml`",
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "type": {
            "type": "string",
            "enum": ["status", "condition", "log", "event", "connectivity"]
          },
          "spec": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "checks": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string"
                            },
                            "value": {}
                          },
                          "required": ["field", "operator", "value"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["target", "checks"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "checks": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            }
                          },
                          "required": ["type", "status"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["target", "checks"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "container": {
                    "type": "string"
                  },
                  "expectedStrings": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "sinceSeconds": {
                    "type": "number"
                  }
                },
                "required": ["target", "expectedStrings"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": ["kind"],
                    "additionalProperties": false
                  },
                  "forbiddenReasons": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "sinceSeconds": {
                    "type": "number"
                  }
                },
                "required": ["target", "forbiddenReasons"],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "sourcePod": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "labelSelector": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "targets": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "expectedStatusCode": {
                              "type": "number"
                            },
                            "timeoutSeconds": {
                              "type": "number"
                            }
                          },
                          "required": ["url", "expectedStatusCode"],
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["sourcePod", "targets"],
                "additionalProperties": false
              }
            ]
          }
        },
        "required": ["key", "title", "description", "order", "type", "spec"],
        "additionalProperties": false
      },
      "ObjectiveSpec": {
        "description": "Union of all possible objective spec shapes. The actual shape depends on the objective `type`.",
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "checks": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "value": {}
                      },
                      "required": ["field", "operator", "value"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["target", "checks"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "checks": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "status"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["target", "checks"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "container": {
                "type": "string"
              },
              "expectedStrings": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sinceSeconds": {
                "type": "number"
              }
            },
            "required": ["target", "expectedStrings"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": ["kind"],
                "additionalProperties": false
              },
              "forbiddenReasons": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sinceSeconds": {
                "type": "number"
              }
            },
            "required": ["target", "forbiddenReasons"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "sourcePod": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "labelSelector": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              },
              "targets": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "expectedStatusCode": {
                          "type": "number"
                        },
                        "timeoutSeconds": {
                          "type": "number"
                        }
                      },
                      "required": ["url", "expectedStatusCode"],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": ["sourcePod", "targets"],
            "additionalProperties": false
          }
        ]
      },
      "Target": {
        "description": "Kubernetes resource target — identifies which resources to check",
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labelSelector": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["kind"],
        "additionalProperties": false
      },
      "StatusCheck": {
        "description": "A single status field check (field/operator/value)",
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {}
        },
        "required": ["field", "operator", "value"],
        "additionalProperties": false
      },
      "StatusSpec": {
        "description": "Spec for `type: status` objectives — checks resource status fields",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "checks": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "operator": {
                      "type": "string"
                    },
                    "value": {}
                  },
                  "required": ["field", "operator", "value"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["target", "checks"],
        "additionalProperties": false
      },
      "ConditionCheck": {
        "description": "A single Kubernetes condition check (type/status pair)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": ["type", "status"],
        "additionalProperties": false
      },
      "ConditionSpec": {
        "description": "Spec for `type: condition` objectives — checks Kubernetes conditions",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "checks": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "status"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["target", "checks"],
        "additionalProperties": false
      },
      "LogSpec": {
        "description": "Spec for `type: log` objectives — searches container logs for expected strings",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "container": {
            "type": "string"
          },
          "expectedStrings": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "sinceSeconds": {
            "type": "number"
          }
        },
        "required": ["target", "expectedStrings"],
        "additionalProperties": false
      },
      "EventSpec": {
        "description": "Spec for `type: event` objectives — detects forbidden Kubernetes events",
        "type": "object",
        "properties": {
          "target": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["kind"],
            "additionalProperties": false
          },
          "forbiddenReasons": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "sinceSeconds": {
            "type": "number"
          }
        },
        "required": ["target", "forbiddenReasons"],
        "additionalProperties": false
      },
      "SourcePod": {
        "description": "Source pod for connectivity checks (identified by name or label selector)",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "labelSelector": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ConnectivityCheck": {
        "description": "A single HTTP connectivity check",
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "expectedStatusCode": {
            "type": "number"
          },
          "timeoutSeconds": {
            "type": "number"
          }
        },
        "required": ["url", "expectedStatusCode"],
        "additionalProperties": false
      },
      "ConnectivitySpec": {
        "description": "Spec for `type: connectivity` objectives — tests HTTP connectivity from a pod",
        "type": "object",
        "properties": {
          "sourcePod": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "labelSelector": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "targets": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "expectedStatusCode": {
                      "type": "number"
                    },
                    "timeoutSeconds": {
                      "type": "number"
                    }
                  },
                  "required": ["url", "expectedStatusCode"],
                  "additionalProperties": false
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["sourcePod", "targets"],
        "additionalProperties": false
      },
      "CliMetadata": {
        "description": "CLI metadata sent with tracking requests",
        "type": "object",
        "properties": {
          "cliVersion": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "arch": {
            "type": "string"
          }
        },
        "required": ["cliVersion", "os", "arch"],
        "additionalProperties": false
      },
      "ObjectiveResult": {
        "description": "Result from a single objective validation",
        "type": "object",
        "properties": {
          "objectiveKey": {
            "type": "string"
          },
          "passed": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["objectiveKey", "passed"],
        "additionalProperties": false
      },
      "SubmitBody": {
        "description": "Challenge submission payload sent by the CLI",
        "type": "object",
        "properties": {
          "results": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "objectiveKey": {
                  "type": "string"
                },
                "passed": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": ["objectiveKey", "passed"],
              "additionalProperties": false
            }
          }
        },
        "required": ["results"],
        "additionalProperties": false
      },
      "ScoredObjective": {
        "description": "Enriched objective result stored after submission",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "passed": {
            "type": "boolean"
          },
          "category": {
            "type": "string",
            "enum": ["status", "condition", "log", "event", "connectivity"]
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["id", "name", "passed", "category"],
        "additionalProperties": false
      }
    }
  }
}
